#infoCenter{
  position: fixed;
  width: 100%;
  height: calc(var(--vh) * 62.5);
  padding: 0;
  margin: 0;
  z-index: 2;
  background-color:var(--background);
}

#infoCenterMessageBox{
  width: 100%;
  height: calc(var(--vh) * 62.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#infoCenterText{
  display: block;
  height: 100%;
  max-width: 600px;
  font-size: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#infoCenterText div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

#infoCenterText div img{
  margin-right: 6px;
}.helpContentDiv
{
  width: 100%;
  max-width: 450px;
  min-height: calc(var(--vh) * 10);
  max-height: 150px;
  box-sizing: border-box;
  padding: 5%;
  text-align: center;
}

.leftInfoImg{
  width: 25%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
}

.rightInfoDiv{
  width: 75%;
  height: 100%;
  padding: 5%;
  text-align: center;
}

.infoDivAcross{
  width: 100%;
  height: 100%;
  text-align: center;
}