:root {
  --grey: rgba(50, 50, 50, 1);
  --white: rgba(255, 255, 255, 1);

  --green: rgba(100, 175, 100, 1);
  --yellow:rgba(175, 175, 100, 1);
  
  --disabled: rgba(150, 150, 150, 1);
  --active: rgba(255, 255, 255, 1);
  --selected: rgba(225, 225, 225, 1);
  
  --seeThrough: rgba(0, 0, 0, 0);

  --background: var(--white);
  --foreground: var(--foregroundLight);

  --buttonBackground: var(--buttonBackgroundLight);
  --buttonBorder: var(--buttonBorderLight);

  --selected: rgba(150, 150, 150, 1);

  --input: rgba(240, 240, 240, 1);

  --hyperlink: var(--hyperlinkLight);

  --backgroundDark: rgba(50,50,50,1);
  --backgroundLight: rgba(225, 225, 225, 1);

  --foregroundDark: rgba(255, 255, 255, 1);
  --foregroundLight: rgba(50, 50, 50, 1);

  --buttonBackgroundDark: rgba(75,75,75,1);
  --buttonBackgroundLight: rgba(225, 225, 225, 1);

  --buttonBorderDark: rgba(225, 225, 225, 1);
  --buttonBorderLight: rgba(75,75,75,1);

  --hyperlinkDark: rgb(255, 247, 173);
  --hyperlinkLight: rgb(3, 38, 145);
}

.wordInput[data-state='rightPosition']
{
  background-color: var(--green);
}

.wordInput[data-state='wrongPosition']
{
  background-color: var(--yellow);
}

.wordInput[data-state='excluded']
{
  background-color: var(--backgroundLight);
}

.dictionaryButton[data-state='active']
{
  background-color: var(--green);
}

.dictionaryButton[data-state='inactive']
{
  background-color: var(--backgroundLight);
}

.keyboardButtons[data-state='selected']
{
  background-color: var(--green);
}

.keyboardButtons[data-state='disabled']
{
  background-color: var(--backgroundLight);
}

.control[data-state='active']
{
  background-color: var(--green);
}

.control[data-state='inactive']
{
  background-color: var(--transparant);
}

body{
  font-family: 'Open Sans', sans-serif;
  height: calc(var(--vh) * 100);
  max-height: calc(var(--vh) * 100);
}